/********************************************************

->width y height -> ancho y alto de los objetos

->background -> Fondo de los objetos

->background-attachement: fixed; -> para poner los fondos inmoviles

->background-repeat:no-repeat  -> para que los fondos no se repitan

->margin -> Margenes externos de los objetos relativos a la pagina

->padding -> Margenes internos de los objetos

->en los padding y margin los px si solo se coloca 1 representa margenes 
universales, con 2 se espesifican margenes (arriba-abajos, izq-derecha) 
y con cuatro (arriba, abajo, izq, derecha) 

->border -> Modifica el borde de los objetos (se especifica el grosor y 
luego el tipo de borde (solid) y su color)

->display (como se veran los objetos) -> por defecto estan en block y
otra de sus aributos es inline que permite agrupar uno al lado del otro. Nota:
no permite cambios en margin, padding, width o height; otra atributo es 
inline-block esta permite la manipulacion de los margin, padding, width o height;

->Color  -> para poner color a los elementos como letras


***************POCISIONAMIENTO DE LAS CAJAS*************
->position: ->relative -> absolute
	->top ->
	->bottom ->
	->left ->
	->right -> 


************************Texto***************************
text-aline: left, right, center, justify; para acomodar la posicione de los textos
text-decoration: underline, none, overline, line-through; -> para poner o quitar las lideas de subrayado
text-transform: capitalize, uppercase, lowercase; -> permite la modificacion des los textos con mayusculas y minusculas
text-shadow: ; ->Agrega sonbras a los textos
********************************************************/

